<script type="text/javascript">
    document.write(wet.builder.appFooter({
        "contactLink": [{
        "href": "https://teams.microsoft.com/l/team/19%3aaa7f40a6029a44cdbf864f7dc8bc5a62%40thread.tacv2/conversations?groupId=bea80905-7f0f-432d-9a83-60561c1efcd2&tenantId=9ed55846-8a81-4246-acd8-b1a01abfc0d1",
        "newWindow": true
        }],
<!--         "termsLink": [{
        "href": "https://github.com/s-laugh/esdc-devcop.github.io/blob/master/LICENSE",
        "newWindow": true
        }],
        "privacyLink": [{
        "href": "https://github.com/s-laugh/esdc-devcop.github.io/blob/master/LICENSE",
        "newWindow": true
        }], -->
        "showFeatures": false
    }));
</script>
