<script>
    document.write(wet.builder.appTop({
      "appName": [{
        "text": "{{ site.title }}",
        "href": "{{ '/' | absolute_url }}"
      }],
      "search": false,
      "siteMenu": false,
      "topSecMenu": false,
      "menuLinks": [{
          "text": "Home",
          "href": "{{ '/' | absolute_url }}"
        },{
          "text": "Security Champions",
          "href": "{{ '/' | absolute_url }}security-champions/"
		},{
          "text": "Training",
          "href": "{{ '/' | absolute_url }}app-security-training/"
		},{
          "text": "Tools & Guides",
          "href": "{{ '/' | absolute_url }}app-security-tools/"
		},{
          "text": "Events",
          "href": "{{ '/' | absolute_url }}events/"
		},{
          "text": "References",
          "href": "{{ '/' | absolute_url }}references/"
        },{
          "text": "Questions / Collaborate (Github)",
          "href": "https://github.com/esdcskp-edscpcs/skp/issues/new/choose"
        },{
          "text": "Français",
          "href": "https://esdcskp-edscpcs.github.io/pcs/"
        }]
    }));
  </script>
